<h2>Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
      type="button"
    >
      <span class="badge">{{ hero.id }}</span>
      &nbsp;
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<!-- 
  Correct usage:
  - [class.selected]="hero === selectedHero"
  - [ngClass]="selectedHero?.id === hero.id ? 'selected' : ''"
  Wrong usage:
  Because selectedHero is empty at first glance
  - [ngClass]="selectedHero.id === hero.id ? 'selected' : ''"
 -->

<ng-container *ngIf="selectedHero">
  <app-hero-details [hero]="selectedHero"></app-hero-details>
</ng-container>
