<h2>Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/heroes/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      &nbsp;
      <span class="name">{{ hero.name }}</span>
    </a>
  </li>
</ul>

<!-- 
  Correct usage:
  - [class.selected]="hero === selectedHero"
  - [ngClass]="selectedHero?.id === hero.id ? 'selected' : ''"
  Wrong usage:
  Because selectedHero is empty at first glance
  - [ngClass]="selectedHero.id === hero.id ? 'selected' : ''"
 -->
